@import"./base/modern-normalize";
@import"./base/reset";
@import"./utils/variables.scss";
@import"./components/body";
@import"./components/visually-hidden";
@import"./components/container";
@import"./components/logo";
@import"./components/button";
@import"./components/title";
@import"./components/list";
@import"./components/social";
@import"./layout/header";
@import"./layout/hero";
@import"./layout/benefits";
@import"./layout/work";
@import"./layout/team";
@import"./layout/clients";
@import"./layout/footer";
@import"./layout/portfolio";
@import"./layout/modal";






