
.benefits {
  padding-top: 94px;
}




.benefits-list__item {
  flex-basis: calc(100% - 90px / 4);
}
.benefits-list__name {
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.background {
  display: flex;
  background-color: var(--team-color);
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.background__icon {
  width: 65px;
  height: 70px;
}