.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list{
 display: flex;
  align-items: center;
  justify-content: center;
   gap: 30px;
}
.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
border: 1px solid var(--link-color);

  border-radius: 4px;
  color: var(--link-color);

  transition:color var(--transition),
  border-color var(--transition);

     &:hover,
   &:focus {
  border-color: 1px var(--accent-color);
  color: var(--accent-color);
}
}
.clients-list__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;


}
