
.header {
  border-bottom: 1px solid var(--border-header);
}

.logo--header {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
 
}
.logo__text{
     color: #000000;



}
.header__wrapper {
  display: flex;
  align-items: center;
}
.header__navigation{
  display: flex;
  align-items: center;
  margin-right: auto;
}

.nav-list{
   display: flex;
  align-items: center;
  justify-content: center;
   gap: 30px;

}

.nav-list__item:not(:last-child),
.nav-contacts-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link{
    font-family: inherit;
  font-style: inherit;
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  transition: color var(--transition);

&:hover,
&:focus{
    color: var(--accent-color);
}
}


.contacts-list__link{
  font-family: inherit;
  font-style: inherit;
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  transition: color var(--transition);


&:hover,
&:focus{
  color: var(--accent-color);
}

}

.nav-list__current {
  color: var(--accent-color);
  
&::after {
  position: absolute;
  bottom: 0;
  left:0;
  content: '';
  width: 100%;
  height: 4px;
margin-bottom: -1px;
  background-color: var(--accent-color);
 
  transition: background var(--transition);
}
}


.nav-list__link {
  position: relative;
}


.contacs-list {
 display: flex;
  align-items: center;
  justify-content: center;
   gap: 30px;
}

.contacts-list__link{
  color: var(--text-color);
  display: flex;
  align-items: center;
}


.contacts-list__icon{
  margin-right: 10px;
  fill: currentColor;
}