.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}


.button-list {
@extend%align;
  gap: 8px;
  margin-bottom: 50px;

}
.button-list__buttons{
  font-family: inherit;
  @include font( 16px, 500, 1.62);
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: #f5f4fa;
  padding: 6px 22px;
  margin-left: auto;
  border: none;
  border-radius: 4px; 

transition:background var(--transition),
color var(--transition),
 box-shadow var(--transition);

 &:hover,
 &:focus {
  color: var(--link-active-color-text);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

}




.gallery-list{
  flex-wrap: wrap;
@extend%align;
   gap: 30px;
}
.portfolio-gal__item{
  flex-basis: calc(100% / 3 - 60px);
}

.gallery-list__link {
  display: inline-block;
  color: inherit;
  font-size: 16px;
  line-height: 1.8;

  &:hover,
  &:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

}

.gallery-list__title{
  @include font( 18px, 700, 2);

  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}
.gallery-list__title-box{
  padding: 20px 24px;
  background-color: var(--white);
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.gallery-list__overlay-text{
@include font(18px, 400, 1.56);

  color: var(--portfolio-description-text);
}
.gallery-list__overlay-box{
  position: relative;
  overflow: hidden;

}
.gallery-list__overlay{
  position: absolute;

bottom : 0px;
  left: 0px;
  opacity: 1;
 transform: translateY(100%);
 transition: transform var(--transition);
width: 100%;
height: 100%;

  padding: 63px 24px;

  bottom : 0px;
    left: 0px;
    opacity: 1;
   transform: translateY(102%);
   transition: transform var(--transition);
  width: 100%;
  height: 100%;
    padding: 63px 24px;
  overflow: auto;

  background: var(--portfolio-description-backgound);
  background: var(--portfolio-description-backgound);


.gallery-list__link:hover &, 
  .gallery-list__link:focus &{
  
  transform: translateY(0);
}

}

