.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var( --team-section-color);
}

.team-list{
@extend%align;
gap:30px;
}


.team-list__item {
  background-color:var(--team-list-color) ;
  text-align: center;
  width:270px;
}

.team-list__box {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

}
.position {
  padding-top: 30px;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 30px;

}

.position__name{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--title-color);
  margin-bottom: 10px;
  text-align: center;
}
.position-duties {
  margin-bottom: 16px;
}
.social-list__link--light{
  color: var(--link-color);
  background-color: var(--link-backgound);
  
  &:hover,
  &:focus {
  color: var(--link-active-color-text);
  background-color: var(--accent-color);
}
}
