team-box {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

}
.team-list {
  display: flex;
  align-items: center;
}

.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--team-color);
}
.team-item {
  background-color: var(--white);
  text-align: center;
  flex-basis: calc(100% - 90px / 4);
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--title-color);
  margin-bottom: 10px;
  text-align: center;
}
.team-position {
  margin-bottom: 16px;
}
.position-box {
  padding-top: 30px;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 30px;
}