.work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-list{
  display: flex;
  align-items: center;
  justify-content: center;
   gap: 30px;
}
.work-list__item {
  position: relative;
width: 370px;
}

.work-list__overlay{

  position: absolute;
  bottom: 0px;
  left:0px;

  display: flex;
  align-items: center;
  justify-content: center;
width: 100%;
height:70px;
background-color: rgba(47, 48, 58, 0.8);
}
.work-list__name {

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}