.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: rgba(0, 0, 0, 0.2);
   transition:opacity var(--transition),visibility var(--transition);
}
.is-hidden{
visibility: hidden;
opacity: 0;
pointer-events: none;

}
.is-hidden .modal{
  transform: scale(0);
}