.social-list {
  @extend%align;
  gap: 10px;
}

.social-list__link {
 @extend%align;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: color var(--transition),
  background var(--transition);
}
.social-list__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
 }